/*
      Auteur               :    mohamad
      Opdracht             :    bubble candy
      Aanmaakdatum         :    19-feb-2020
      Bestandsnaam         :    stylesheet.css
*/
* {
  margin: 0px;
  padding: 0px;
}

.container{
    background-color: #FFFFC2;
    text-align: center;
    height: 400px;
}

.overons p{
    color: #FFA6A6;
    margin: 10px;
    padding: 5px;
    font-size: 14px;
    font-family: sans-serif;
}

.contact p{
    color: #FFA6A6;
    text-align: left;
    position: relative;
    left: 100px;
    top: 100px;
    margin: 10px;
    padding: 5px;
    font-size: 14px;
    font-family: sans-serif;
}

.border{
    border: 3px solid #FFA6A6;
    width: 500px;
    height: 200px;
    float: right;
    position: relative;
    right: 200px;
    bottom: 80px;
}

hr{
    border: 1px solid;
    color: #FFA6A6;

}

.underContact
{
    position: relative;
    top: 12em;
}

form
{
    position: relative;
    top: 12em;
    left:13em;
}
