/*
      Auteur			:    Jonathan Minderhoud
      Opdracht		     :    bubble candy
      Aanmaakdatum		:    19-feb-20
      Bestandsnaam       :    winkelwagen.css
*/
* {
  margin: 0px;
  padding: 0px;
}
td, th, table
{
	border: black solid 1px;
	border-collapse: collapse;
}
table
{
	margin-left: auto;
	margin-right: auto;
}
h1
{
	text-align: center;
	margin-bottom: 3.12em;
}
#product
{
	width: 25em;
}
#total
{
	text-align: right;
}
th
{
	font-size: 1.3em;
	width: 8em;
	background-color: #C8E7ED;
}

html
{
	background-color: #FFFFC2;
	color: #FFA6A6;
}
button
{
	background-color: #C8E7ED;
}
